.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px;
  background-color: #f0f0f0;
}

.nav-button {
  padding: 10px;
  margin: 1px;
  width: 15%;
  max-width: 20%;
  flex: 0 1 auto;
  cursor: pointer;
  text-align: center;
}

.nav-button:hover {
  background-color: #e0e0e0;
}

@media screen and (max-width: 600px) {
  .navbar,
  .nav-button {
    width: 100%;
    padding: 10px;
  }
}

.map-container {
  width: 100%;
  height: 70vh;
}

.station-info {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  background-color: #f9f9f9;
  width: calc(100% - 30px);
}

.station-info p {
  margin: 5px 0;
}

.account-container {
  text-align: center;
  padding: 20px;
  margin: auto;
  max-width: 600px;
}

.account-info {
  margin: 10px 0;
}

.google-signin-button {
  display: flex;
  justify-content: center;
  margin: auto;
  width: fit-content;
}

.logo-container {
  position: relative;
  text-align: center;
}

.App-logo {
  height: auto;
  pointer-events: none;
  max-width: 20%; /* Set the maximum width of the logo */
  margin: auto; /* Center the logo horizontally */
  display: block; /* Make the image block-level to respect margin: auto */
}

.App-logo-small {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%); /* Center the small logo horizontally */
  max-width: 20%; /* Optionally set the maximum width of the small logo */
  height: auto; /* Maintain aspect ratio */
  /* Adjust the height or width as necessary to match the small logo size */
}

.logo-text,
.logo-text-small {
  text-align: center;
  color: #1148c0;
  margin-top: 10px;
}

.logo-text-small {
  font-size: 30px;
  margin-top: 1px;
}

#signInDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

.review-item,
.review-textarea {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  background-color: #f9f9f9;
  width: calc(100% - 30px);
  resize: vertical;
  display: block;
}

.review-item p {
  margin: 5px 0;
}

.reviews-list {
  max-height: 300px;
  overflow-y: auto;
  padding-right: 10px;
}

/* Styles for the modal where reviews are displayed */
.modal {
  position: fixed;
  top: 10%; /* Start 10% from the top */
  left: 50%;
  transform: translateX(-50%); /* Center horizontally */
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  width: 80%;
  max-width: 600px;
  z-index: 1000;
  overflow-y: auto; /* Enable scrolling within the modal */
  max-height: 80%; /* Prevent the modal from being too tall */
}

/* Style for the close button in the modal */
.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer; /* Change the cursor to pointer when hovering over the button */
  border: none; /* Remove default button borders */
  background-color: transparent; /* Remove default button background */
  font-size: 24px; /* Increase the font size of the 'X' */
}

.close-modal {
  top: 10px;
  right: 10px;
  cursor: pointer;
  background-color: transparent;
  font-size: 24px;
}

.delete-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: rgb(122, 22, 22);
  padding: 5px;
}

.delete-icon {
  color: rgb(114, 25, 25);
}

/* Wide screen styles for the first and second side panels */
@media screen and (min-width: 601px) {
  .map-container {
    width: calc(100% - 250px);
    height: 100vh;
    float: right;
  }

  .station-info-container,
  .detail-panel {
    width: 250px;
    height: 100vh;
    overflow-y: auto;
    position: fixed;
    left: 0;
    top: 22;
    background-color: #f9f9f9;
    z-index: 100; /* Ensure the first panel is below the second */
  }

  .detail-panel {
    background-color: #e9ecef; /* Differentiate the second panel */
    z-index: 102; /* Ensure it covers the first panel */
    box-shadow: 2px 0 8px rgba(0,0,0,0.2);
    padding: 20px;
  }
}

@media screen and (max-width: 600px) {
  .station-info-container {
    display: block;
    width: 100%;
    background-color: #f9f9f9;
    position: fixed; /* Ensure it's fixed for overlay positioning */
    left: 0;
    top: 50%;
    height: 100vh; /* Full viewport height */
    overflow-y: auto; /* Allow vertical scroll */
    z-index: 100; /* Lower z-index than the detail panel */
  }

  .detail-panel {
    display: block;
    width: 100%;
    background-color: #e9ecef; /* Differentiate the second panel */
    position: fixed; /* Fixed position to overlay on top of the first panel */
    left: 0;
    top: 50%;
    height: 100vh; /* Full viewport height */
    overflow-y: auto; /* Allow vertical scroll */
    z-index: 101; /* Higher z-index to overlay on top of the first panel */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Optional: Shadow for depth */
    padding: 20px; /* Padding for content */
  }
}
