.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  background-color: #f0f2f5; /* background color */
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.base-button {
  background-color: transparent;
  color: #004080; /* Dark blue text color */
  border: 1px solid #004080; /* Dark blue border */
  padding: 10px;
  margin: 1px;
  min-width: 100px;
  cursor: pointer;
  text-align: center;
  border-radius: 8px; /* Rounded corners */
}

.base-button:hover {
  background-color: #e9e8e8;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparant;
  position: fixed; /* Fix navbar at the top */
  top: 0;
  left: 50%;
  transform: translateX(-50%); /* Center navbar horizontally */
  z-index: 2; /* Ensure navbar is above the map */

}

.nav-button {
  padding: 10px;
  margin: 1px;
  min-width: 100px;
  cursor: pointer;
  text-align: center;
  /*background-color: transparent;*/
  background-color: rgba(255, 255, 255, 0.92); /* 10% transparent white background */
  color: #004080; /* Text color changed to dark blue */
  border: 1px solid #004080; /* Perimeter line (border) color changed to dark blue */
  border-radius: 8px; /* Rounded corners */
}

.nav-button:hover {
  background-color: #e9e8e8;
}

.rating-text {
  color: #000000; /* Example color: blue. Replace with any color you like. */
  /* Add any additional styling you want for the rating text here */
}

.star-icon .svg-inline--fa {
  color: #3c77bb; /* Gold color for stars */
  font-size: 20px; /* Adjust the size of the stars */
}


@media screen and (max-width: 600px) {
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparant;
    position: fixed; /* Fix navbar at the top */
    top: 0;
    left: 50%;
    transform: translateX(-50%); /* Center navbar horizontally */
    z-index: 2; /* Ensure navbar is above the map */
  }
  
  .nav-button {
    padding: 10px;
    margin: 1px;
    min-width: 100px;
    cursor: pointer;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.92); /* 10% transparent white background */
    color: #004080; /* Text color is dark blue */
    border: 1px solid #004080; /* (border) color is dark blue */
    border-radius: 8px; /* Rounded corners */
  }
}


.map-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1; /* Place map behind the navbar */
}

.station-info {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  background-color: #f7fbfd; /* Light blue background */
  width: calc(100% - 30px);
}

.station-info p {
  margin: 5px 0;
}


.detail-panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.detail-panel-title {
  flex-grow: 1;
  margin: 0;
}


.account-container {
  text-align: center;
  padding: 20px;
  margin: auto;
  max-width: 600px;
  height: 95vh;
  background-color: #f7fbfd; /* Light blue background */
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.account-container h2 {
  margin-top: 40px; /* Margin from the top for <h2> */
}

/* Include other styles for consistency */
.account-info {
  margin: 10px 0;
}

.google-signin-button {
  display: flex;
  justify-content: center;
  margin: auto;
  width: fit-content;
}

.logo-container {
  position: relative;
  text-align: center;
}

.App-logo {
  height: auto;
  pointer-events: none;
  max-width: 20%; /* Set the maximum width of the logo */
  margin: auto; /* Center the logo horizontally */
  display: block; /* Make the image block-level to respect margin: auto */
}

.App-logo-small {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%); /* Center the small logo horizontally */
  max-width: 20%; /* Optionally set the maximum width of the small logo */
  height: auto; /* Maintain aspect ratio */
  /* Adjust the height or width as necessary to match the small logo size */
}

.logo-text,
.logo-text-small {
  text-align: center;
  color: #1148c0;
  margin-top: 10px;
  font-size: 50px
}

.logo-text-small {
  font-size: 30px;
  margin-top: 1px;
}

#signInDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

.review-item,
.review-textarea {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  background-color: white;
  width: calc(100% - 30px);
  resize: vertical;
  display: block;
}

.review-item p {
  margin: 5px 0;
  color: #1148c0;
}

.reviews-list {
  max-height: 300px;
  overflow-y: auto;
  padding-right: 10px;
}

/* Styles for the modal where reviews are displayed */
.modal {
  position: fixed;
  top: 10%; /* Start 10% from the top */
  left: 50%;
  transform: translateX(-50%); /* Center horizontally */
  background-color: #f7fbfd; /* Light blue background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  width: 80%;
  max-width: 600px;
  z-index: 1000;
  overflow-y: auto; /* Enable scrolling within the modal */
  max-height: 80%; /* Prevent the modal from being too tall */
}

/* Style for the close button in the modal */
.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer; /* Change the cursor to pointer when hovering over the button */
  border: none; /* Remove default button borders */
  background-color: transparent; /* Remove default button background */
  font-size: 24px; /* Increase the font size of the 'X' */
}

.close-modal {
  top: 10px;
  right: 10px;
  cursor: pointer;
  background-color: transparent;
  font-size: 24px;
}

.delete-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: rgb(122, 22, 22);
  padding: 5px;
}

.delete-icon {
  color: rgb(114, 25, 25);
}

.toggle-station-info {
  background-color: whitesmoke;
  color: #004080; /* Dark blue text color */
  border: 1px solid #004080; /* Dark blue border */
  position: absolute;
  z-index: 1050;
  left: 10px;
  top: 10px;
  cursor: pointer;
  /* Add any additional styling you want here */
}

@media screen and (min-width: 601px) {

  .map-container {
    width: 100%;
    height: 100vh;
    
    float: right;
    box-sizing: border-box;
  }

  .search-container {
    top: 50px; /* 50 pixels lower than its default position */
    position: fixed;
    left: 130px; /* Center the container */
    transform: translateX(-50%); /* Adjust horizontally to truly center */
    width: 246px; 
    z-index: 100;
    background-color: #e9ecef; /* Optional: background color for visibility */
  }

  .search-container input[type="text"] {
    width: 196px; /* Set width for the input field */
    /* Add any other styling as needed */
  }

  .station-info-container.hidden {
    display: none;
  }
  
  

  .station-info-container,
  .detail-panel {
    width: 250px;
    height: calc(100vh - 82px); /* Adjust based on the combined height of navbar and search container */
    overflow-y: auto;
    position: fixed;
    left: 0;
    top: 82px; /* Start below the navbar and search container */
    background-color: rgba(255, 255, 255, 0.9); /* 10% transparent white background */
    z-index: 100;
  }
  

  .detail-panel {
    background-color: #f7fbfd; /* Light blue background */
    z-index: 102;
    box-shadow: 2px 0 8px rgba(0,0,0,0.2);
    padding: 0px;
  }

  .close-button {


    cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
    background-color: transparant; /* Optional: Set a background color */
    border: 1px solid #004080; /* Dark blue border */
    color: #1148c0; /* Optional: Set text color */

  }
}



@media screen and (max-width: 600px) {

  .search-container {
    top: 50px; /* 50 pixels lower than its default position */
    position: fixed;
    left: 130px; /* Center the container */
    transform: translateX(-50%); /* Adjust horizontally to truly center */
    width: 246px; 
    z-index: 100;
    background-color: #e9ecef; /* Optional: background color for visibility */
  }

  .search-container input[type="text"] {
    width: 196px; /* Set width for the input field */
    /* Add any other styling as needed */
  }

  .toggle-station-info {
    top: 52px; /* 60 pixels lower than its default position */
    right: 10px; /* Align to the right side */
    left: auto; /* Reset the default left alignment */

  }

  .close-button {
    
    height: 30px; /* Setting the height */
    padding: 0 10px; /* Adjust padding as needed */
    position: absolute;
    top: 5px;
    right: 50px; /* Ensure it's not pushed outside of the container */
    cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
    background-color: #2987df; /* Optional: Set a background color */
    border: none; /* Optional: Remove border */
    color: white; /* Optional: Set text color */
    font-size: 16px; /* Optional: Adjust font size */
    border-radius: 20px; /* Optional: Add border radius for rounded corners */
}


  .station-info-container {
    display: block;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9); /* 10% transparent white background */
    position: fixed; /* Ensure it's fixed for overlay positioning */
    left: 0;
    top: 50%;
    height: 100vh; /* Full viewport height */
    overflow-y: auto; /* Allow vertical scroll */
    z-index: 100; /* Lower z-index than the detail panel */
  }

  .detail-panel {
    display: block;
    width: 100%;
    background-color: #f7fbfd; /* Light blue background */
    position: fixed; /* Fixed position to overlay on top of the first panel */
    left: 0;
    top: 50%;
    height: 100vh; /* Full viewport height */
    overflow-y: auto; /* Allow vertical scroll */
    z-index: 101; /* Higher z-index to overlay on top of the first panel */
    box-shadow: 0 3px 5px rgba(0,0,0,0.2); /* Optional: Shadow for depth */
    padding: 20px; /* Padding for content */
  }
}
